body {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-weight: 600;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.example-text {
  margin: 10px auto;
}

.main {
  margin-top: 50px;
}

.error-msg {
  color: red;
}

.navbar {
  margin-bottom: 0;
}

.navbar-default {
  background-color: #7AE6B6;
}

.navbar-default .navbar-brand {
  color: #000;
}

.btn-link {
  color: #36579F;
  font-size: 1.5em;
  font-weight: 600;
}

.navbar-brand {
  font-size: 2em;
}

.navbar-brand span {
  display: none;
}

.navbar-default .navbar-brand:hover, .btn-link:hover {
  color: #28298F;
}

.navbar>.container-fluid .navbar-brand, .navbar>.container-fluid .navbar-right {
  margin-right: 0;
}

.navbar-right {
  float: right!important;
  margin-right: -15px;
}

.btn-custom {
  color: #fff;
  background-color: #36579F;
}

.btn-custom:hover, .btn-custom:focus {
  color: #fff;
  background-color: #28298F;
}

.category {
  cursor: pointer;
}

.option-btn {
  background: none;
  border: none;
  vertical-align: middle;
}

.category .option-btn {
  color: rgba(0,0,0,0.3);
  float: right;
}

.category .option-btn:hover {
  color: rgba(0,0,0,1);
}

.search-results {
  margin-top: 40px;
}

.dropdown {
  float: right;
}

.dropdown-menu {
  min-width: 0;
}

.panel-title {
  float: left;
  line-height: 1.4;
}

.search-results .panel-body {
  height: 150px;
  overflow-y: scroll;
}

.selectedCategory {
  border: 2px solid black;
}

.category-header {
  display: none;
}

.navbar-toggle .icon-bar {
  background-color: #36579F;
}

.navbar-toggle {
  border: 1px solid #36579F;
  border-radius: 5px;
  margin: 10px 0 0 0;
}

.index-page h1, .index-page .button-section {
  margin: 50px auto;
}

.index-page {
  height: 100vh;
  background-color: #7AE6B6;
}

#all-categories {
  background-color: #F8F8F8;
}

#mobile-category-collapse {
  margin-top: 50px;
}

@media (min-width: 768px) {
  .index-page h1, .index-page .button-section {
    margin: 100px auto;
  }

  .navbar-brand span {
    display: inline-block;
  }

  .main-search {
    border-left: 1px solid #ddd;
  }

  .overflow-scroll {
    height: 78vh;
    overflow-y: scroll;
  }

  .category-header {
    display: block;
  }

  .navbar-toggle {
    display: none;
  }

  #mobile-category-collapse {
    display: block;
    margin-top: 0;
  }
}
