.navbar {
  margin-bottom: 0;
}

.navbar-brand span {
  font-size: 1.5em;
}

.navbar-right {
  float: right!important;
  margin-right: -15px;
}

.categories {
  border-right: 1px solid #e7e7e7;
}

.search-results {
  margin-top: 30px;
  height: 75vh;
  overflow-y: scroll;
}
